form.edit-note textarea {
    /*color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 8px;
    line-height: 1.46429em;
    padding: 0;*/
}